[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
torch = "*"
nltk = "*"
tqdm = "*"
wandb = "*"
swifter = "*"

[dev-packages]

[requires]
python_version = "3.9"
