<!DOCTYPE html>    
</html>
<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>The post predictor</h1>

    <h2>Enter post details</h2>

    <form method="POST" action="/predict">
        <input type="text" name="post_title" placeholder="Post title" value="{{ post_title }}">
        <input type="text" name="karma" placeholder="User karma" value="{{ karma }}">
        <button type="submit">Go</button>
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if prediction %}
        <p>Predicted upvotes: {{ prediction }}</p>
    {% endif %}
</body>
</html>
